#!/bin/bash
#
# BigLinux Store 
# www.biglinux.com.br
# By Bruno Gonçalves
# 11/01/2020
# License: GPL v2 or greater

if [ "$pkg_install" != "" ]; then
    ./run_pamac_installer $pkg_name
    echo "" > ${TMP_FOLDER}/upgradeable.txt
    pacman -Qu | cut -f1 -d" " >> ${TMP_FOLDER}/upgradeable.txt
fi

if [ "$pkg_remove" != "" ]; then
    pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY $(pwd)/run-pamac-remove $pkg_name
    echo "" > ${TMP_FOLDER}/upgradeable.txt
    pacman -Qu | cut -f1 -d" " >> ${TMP_FOLDER}/upgradeable.txt
fi

if [ "$update_pacman" = "y" ]; then
    ACTION="update_pacman" REPOSITORY="$REPOSITORY" PACKAGE_ID="$PACKAGE_ID" WINDOW_ID="$(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2)" urxvt +sb -internalBorder 10 -borderColor rgb:cc/cc/cc -depth 32 -fg rgb:33/33/33 -bg rgb:cc/cc/cc -fn "xft:Ubuntu Mono:pixelsize=18" -embed $(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2) -sr -bc -e ./install_terminal.sh
fi

if [ "$update_mirror" = "y" ]; then
    ACTION="update_mirror" REPOSITORY="$REPOSITORY" PACKAGE_ID="$PACKAGE_ID" WINDOW_ID="$(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2)" urxvt +sb -internalBorder 10 -borderColor rgb:cc/cc/cc -depth 32 -fg rgb:33/33/33 -bg rgb:cc/cc/cc -fn "xft:Ubuntu Mono:pixelsize=18" -embed $(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2) -sr -bc -e ./install_terminal.sh
fi

# Loading
echo '<div id=box_progress_config>'
echo '<div id=box_progress_config_bar>'
echo $"Aplicando"
echo '</div></div>'

source header.sh.htm



    echo '<div id=box_index_category>'
    echo '<div id=box_info_index>'

    echo '<div class=info_box>'
    echo '<div class=category_title_index>'
        echo $"Configurações"
        echo '</div>'

#FLATPAK
if [ -e "/usr/lib/libpamac-flatpak.so" ]; then
    echo '<a href=config.sh.htm?pkg_remove=y&pkg_name=pamac-flatpak-plugin>' $"Suporte a Flatpak ativo, clque aqui para desativar." '</a>'
else
    echo '<a href=config.sh.htm?pkg_install=y&pkg_name=pamac-flatpak-plugin>' $"Suporte a Flatpak NÃO está ativo, clque aqui para ativar." '</a>'
fi

echo "<p>"

#SNAP
if [ -e "/usr/lib/libpamac-snap.so" ]; then
    echo '<a href=config.sh.htm?pkg_remove=y&pkg_name=pamac-snap-plugin>' $"Suporte a Snap ativo, clque aqui para desativar." '</a>'
else
    echo '<a href=config.sh.htm?pkg_install=y&pkg_name=pamac-snap-plugin>' $"Suporte a Snap NÃO está ativo, clque aqui para ativar." '</a>'
fi

echo "<p>"
echo '<a onclick="disableBodyConfig();" href="config.sh.htm?update_pacman=y">' $"Atualizar cache dos repositórios nativos." '</a>'

echo "<p>"
echo '<a onclick="disableBodyConfig();" href="config.sh.htm?update_mirror=y">' $"Procurar o servidor de repositórios nativos mais rápido no momento." '</a>'



# Finish him
echo '</div></body></html>'
