#!/bin/bash
#
# BigLinux Store 
# www.biglinux.com.br
# By Bruno Gonçalves
# 11/01/2020
# License: GPL v2 or greater

source header.sh.htm


#####################
#Show category in first page
#####################
if [ "$category" = "" ] && [ "${#search}" -le "2" ]; then

ICON_CATEGORY() {
    echo "<a onclick=\"disableBody();\" href=index.sh.htm?category=$1><div class=icon_background><div class=vertical_align_center><div class=icon><span class=category_font_icon><i class=\"fas $2\"></i></span></div><div class=icon_text><div class=icon_text_vertical_align>$3</div></div></div></div></a>"
}


    echo '<div id=box_index_category>'
    echo '<div id=box_info_index>'
    echo $"Em nossa busca são verificadas mais de 20 mil opções de instalação, disponibilizando para você um acervo gigantesco de programas, drivers, temas e etc."
    echo "<p>"
    echo $"Com tantas opções, se você possui pouca experiência com Linux, recomendo que utilize as categorias a seguir, pois selecionamos apenas os melhores programas para executar as tarefas mais utilizadas pelos nossos usuários: "
    echo '</div>'

    echo '<div class=category_box>'
    echo '<div class=category_title_index>'
        echo $"Internet"
        echo '</div>'
        echo '<div class=category_index_list_center><div class=category_index_list>'
        
    ICON_CATEGORY browser fa-globe $"Navegadores"
    ICON_CATEGORY mail fa-envelope $"E-mail"
    ICON_CATEGORY cloud fa-cloud-upload-alt $"Armazenamento nas nuvens"
    ICON_CATEGORY download fa-file-download $"Download"
    ICON_CATEGORY torrent fa-magnet $"Compartilhadores e Torrent"
    ICON_CATEGORY messages fa-comments $"Mensageiros e Conferências"
    ICON_CATEGORY remote fa-laptop-house $"Acesso Remoto, FTP, SSH, VNC, RDP..."
    ICON_CATEGORY network fa-network-wired $"Ferramentas de rede"
    
    echo '</div></div></div>'

    
    echo '<div class=category_box>'
    echo '<div class=category_title_index>'
        echo $"Escritório"
        echo '</div>'
        echo '<div class=category_index_list_center><div class=category_index_list>'

    ICON_CATEGORY office fa-briefcase $"Suíte Office"
    ICON_CATEGORY book fa-book $"Visualizadores de PDF, Epub, e-books e mais"
    ICON_CATEGORY pdf fa-file-pdf $"Editores de PDF"
    ICON_CATEGORY calendar fa-calendar-alt $"Agenda de tarefas e contatos"
    ICON_CATEGORY calc fa-calculator $"Cálculos"
    ICON_CATEGORY other fa-random $"Outros"

    echo '</div></div></div>'

    
    echo '<div class=category_box>'
    echo '<div class=category_title_index>'
        echo $"Gráficos"
        echo '</div>'
        echo '<div class=category_index_list_center><div class=category_index_list>'

    ICON_CATEGORY imageplayer fa-image $"Visualizadores de imagem"
    ICON_CATEGORY imageeditor fa-paint-brush $"Editores de imagem e ferramentas de desenho"
    ICON_CATEGORY screenshot fa-expand $"Captura de tela (Screenshot)"
    ICON_CATEGORY imageconvert fa-file-image $"Converter, redimensionar ou compactar imagens"
    ICON_CATEGORY 3d fa-cube $"Edição 3D e CAD"

    echo '</div></div></div>'
    
        echo '<div class=category_box>'
        echo '<div class=category_title_index>'
        echo $"Multimídia"
        echo '</div>'
        echo '<div class=category_index_list_center><div class=category_index_list>'

    ICON_CATEGORY audioplayer fa-headphones $"Repdodutores de áudio"
    ICON_CATEGORY radio fa-broadcast-tower $"Rádio online"
    ICON_CATEGORY audioconvert fa-microphone $"Gravadores e conversores de áudio"
    ICON_CATEGORY audioeditor fa-music $"Editores de áudio"
    ICON_CATEGORY videoplayer fa-film $"Reprodutores de vídeo"
    ICON_CATEGORY videostream fa-tv $"Vídeo online, IPTV, Youtube..."
    ICON_CATEGORY videoeditor fa-photo-video $"Editores e compactadores de vídeo"
    ICON_CATEGORY dvd fa-compact-disc $"Gravadores e copiadores de CD e DVD"
    ICON_CATEGORY webcam fa-video $"Webcam, gravação de tela e transmissão de vídeo"

    echo '</div></div></div>'
    
        echo '<div class=category_box>'
    echo '<div class=category_title_index>'
        echo $"Desenvolvimento"
        echo '</div>'
        echo '<div class=category_index_list_center><div class=category_index_list>'

    ICON_CATEGORY deveditor fa-file-code $"Editores de código e IDE"
    ICON_CATEGORY devbd fa-database $"Banco de dados"
    ICON_CATEGORY devwebserver fa-server $"Servidores WEB"
    ICON_CATEGORY devgames fa-gamepad $"Criadores de jogos"

    echo '</div></div></div>'

fi

APPSTREAM_CATEGORY() {
    echo '<div id=box_appstream_category>'
    echo '<div id=title_appstream>'
    echo "<div id=button_appstream class=\"tooltipped\" data-position=\"left\" data-tooltip=\"$ABOUT_APPSTREAM\">"
    echo $"Programas Nativos"
    echo '</div>'
    echo '</div>'
    echo '<div id=content_appstream>'
    pacman -Qu | cut -f1 -d" " > ${TMP_FOLDER}/upgradeable.txt
    ./category_appstream_pamac.py "$@"
    echo "<script>runAvatarAppstream();</script>"
    echo '</div>'
}

AUR_CATEGORY() {
    rm -f "${TMP_FOLDER}/aur_number.html"
    echo '<div id=box_aur>'
    echo '<div id=title_aur>'
    echo "<div id=button_aur class=\"tooltipped\" data-position=\"left\" data-tooltip=\"$ABOUT_AUR\">"
    echo $"Programas AUR"
    echo '</div>'
    echo '</div>'
    echo '<div id=content_aur>'
    rm -f ${TMP_FOLDER}/aur.html
    #Loading icon
    echo '<script>document.getElementById("aur_icon_loading").innerHTML = "<div class=progress><div class=indeterminate></div></div>";</script>'
    # Search
     ./category_aur.sh $(cat /tmp/bigstore/category_aur.txt | tr "\n" " ") > /dev/null 2>&1 &
    # async load
    echo "<script>fileReplaceDiv(true, '#content_aur', '${TMP_FOLDER}/aur.html');</script>"
    echo '</div>'
    echo '</div></div>'
}

#####################
#Show browser category
#####################
if [ "$category" = "browser" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    LANG_PKG="firefox-i18n-$(echo ${LANG,,} | cut -f1 -d"." | sed 's|_|-|g')"
    APPSTREAM_CATEGORY "brave firefox $LANG_PKG opera vivaldi chromium falkon palemoon-bin epiphany google-chrome"
    AUR_CATEGORY
fi

#####################
#Show mail category
#####################
if [ "$category" = "mail" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    LANG_PKG="thunderbird-i18n-$(echo ${LANG,,} | cut -f1 -d"." | sed 's|_|-|g')"
    APPSTREAM_CATEGORY "thunderbird $LANG_PKG evolution geary kmail kube balsa claws-mail sylpheed trojita mailspring"
    AUR_CATEGORY
fi

#####################
#Show download category
#####################
if [ "$category" = "download" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "persepolis kget gwget uget steadyflow jdownloader2 xdman flareget"
    AUR_CATEGORY
fi

#####################
#Show torrent category
#####################
if [ "$category" = "torrent" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "qbittorrent torrential deluge-gtk ktorrent fragments transmission-qt amule tixati frostwire"
    AUR_CATEGORY
fi

#####################
#Show messages category
#####################
if [ "$category" = "messages" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "telegram-desktop discord teamspeak3 mumble signal-desktop element-desktop caprine gajim murmur mattermost jami-gnome pidgin polari hexchat wire-desktop quassel-client zoom skypeforlinux-stable-bin slack-desktop teams viber icq-bin"
    AUR_CATEGORY
fi


#####################
#Show remote
#####################
if [ "$category" = "remote" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "remmina vinagre tigervnc krdc krfb filezilla gftp putty tmate anydesk-bin teamviewer chrome-remote-desktop"
    AUR_CATEGORY
fi

#####################
#Cloud storage
#####################
if [ "$category" = "cloud" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "nextcloud-client owncloud-client syncthing-gtk sparkleshare rclone cozy-desktop dropbox megasync overgrive cloudcross seafile-client"
    AUR_CATEGORY
fi


#####################
#Show network
#####################
if [ "$category" = "network" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "wireshark-qt ipscan gnome-nettool"
    #AUR_CATEGORY ""
fi


#####################
#Show Book
#####################
if [ "$category" = "book" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "okular foliate evince atril gnome-books bookworm fbreader coolreader calibre peruse"
    #AUR_CATEGORY ""
fi

#####################
#Show PDF
#####################
if [ "$category" = "pdf" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "pdfarranger diffpdf pdfmod pdftricks pdfmixtool pdfslicer gscan2pdf mupdf masterpdfeditor masterpdfeditor-free"
    AUR_CATEGORY
fi

#####################
#Show office category
#####################
if [ "$category" = "office" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    LANG_PKG1="libreoffice-fresh-$(echo ${LANG,,} | cut -f1 -d"." | sed 's|_|-|g')"
    LANG_PKG2="libreoffice-still-$(echo ${LANG,,} | cut -f1 -d"." | sed 's|_|-|g')"
    APPSTREAM_CATEGORY "libreoffice-fresh $LANG_PKG1 libreoffice-still  $LANG_PKG2 freeoffice onlyoffice-desktopeditors softmaker-office-2021 softmaker-office-2018 calligra wps-office"
    AUR_CATEGORY
fi


#####################
#Show Calendar
#####################
if [ "$category" = "calendar" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "osmo kalarm gnome-calendar pantheon-calendar gnome-contacts kontact korganizer kaddressbook evolution evolution-ews minetime-bin"
    AUR_CATEGORY
fi

#####################
#Show deveditor category
#####################
if [ "$category" = "deveditor" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "atom code brackets-bin netbeans geany bluefish arduino rider gambas3-ide gnome-builder pycharm-community-edition intellij-idea-community-edition codeblocks kdevelop kdevelop-python kdevelop-php android-studio eclipse-java-bin goland visual-studio-code-bin sublime-text-3 sublime-text-4-dev okteta phpstorm webstorm"
    AUR_CATEGORY
fi

#####################
#Show devbd category
#####################
if [ "$category" = "devbd" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "dbeaver mysql-workbench mariadb phpmyadmin postgresql pgadmin4 phppgadmin mysql mongodb-tools-bin mongodb-bin"
    AUR_CATEGORY
fi

#####################
#Show devwebserver category
#####################
if [ "$category" = "devwebserver" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "apache nginx "
    #AUR_CATEGORY ""
fi

#####################
#Show devgames category
#####################
if [ "$category" = "devgames" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "godot gb-studio-bin blender renpy unity-editor unreal-engine makehuman-git"
    AUR_CATEGORY
fi


#####################
#Show audioplayer category
#####################
if [ "$category" = "audioplayer" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "clementine audacious elisa rhythmbox qmmp deadbeef lollypop quodlibet strawberry spotify"
    AUR_CATEGORY
fi

#####################
#Show radio category
#####################
if [ "$category" = "radio" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "great-little-radio-player radiotray-ng shortwave odio-appimage goodvibes gradio streamtuner2 tuner"
    AUR_CATEGORY
fi


#####################
#Show audioconvert category
#####################
if [ "$category" = "audioconvert" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "gnome-sound-recorder soundkonverter ciano gnac soundconverter audacity"
    AUR_CATEGORY
fi

#####################
#Show audioeditor category
#####################
if [ "$category" = "audioeditor" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "audacity kwave lmms ardour mixxx Rosegarden qtractor hydrogen cecilia ocenaudio-bin"
    AUR_CATEGORY
fi


#####################
#Show videoplayer category
#####################
if [ "$category" = "videoplayer" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "smplayer vlc kodi-x11 mpv totem celluloid parole"
    AUR_CATEGORY
fi

#####################
#Show stream category
#####################
if [ "$category" = "videostream" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "hypnotix minitube youtube-viewer clipgrab youtubedl-gui freetube-bin kodi-x11 plex-media-server plex-media-player"
    AUR_CATEGORY
fi

#####################
#Show videoeditor category
#####################
if [ "$category" = "videoeditor" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "handbrake ciano kdenlive shotcut pitivi openshot vidcutter flowblade lightworks avidemux-qt blender"
    AUR_CATEGORY "qencoder mystiq davinci-resolve davinci-resolve-studio lightworks lives"
fi

#####################
#Show imageplayer category
#####################
if [ "$category" = "imageplayer" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "gwenview eog shotwell gthumb digikam ristretto kphotoalbum phototonic viewnior"
    AUR_CATEGORY ""
fi

#####################
#Show imageeditor category
#####################
if [ "$category" = "imageeditor" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "gimp krita inkscape pinta kolourpaint mypaint drawing digikam rawtherapee fotoxx"
    AUR_CATEGORY "gravit-designer-bin sK1"
fi

#####################
#Show dvd category
#####################
if [ "$category" = "dvd" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "k3b brasero dvdstyler devede xfburn acetoneiso2"
    AUR_CATEGORY
fi

#####################
#Show webcam category
#####################
if [ "$category" = "webcam" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "obs-studio cheese kamoso simplescreenrecorder recordmydesktop vokoscreen peek v4l-utils"
    AUR_CATEGORY
fi

#####################
#Show screenshot category
#####################
if [ "$category" = "screenshot" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "spectacle gnome-screenshot flameshot pantheon-screenshot ksnip kazam screencloud"
    AUR_CATEGORY
fi


#####################
#Show imageconvert category
#####################
if [ "$category" = "imageconvert" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "converseen ciano xnconvert"
    AUR_CATEGORY
fi

#####################
#Show 3d category
#####################
if [ "$category" = "3d" ]; then

    rm -f /tmp/bigstore/category_aur.txt
    APPSTREAM_CATEGORY "blender wings3d sweethome3d freecad openscad librecad qcad godot gb-studio-bin meshroom-bin unity-editor unreal-engine makehuman-git brlcad"
    AUR_CATEGORY

fi



    #./category_appstream_pamac.py "libreoffice-fresh libreoffice-fresh-pt-br libreoffice-fresh-pt libreoffice-still libreoffice-still-pt-br libreoffice-still-pt freeoffice onlyoffice-desktopeditors softmaker-office-2021 softmaker-office-2018 calligra abiword gnumeric gnome-calculator kcalc gnucash kalgebra qalculate-gtk speedcrunch gnome-calendar korganizer pantheon-calendar kalarm kontact knotes kmymoney kresus moneymanagerex skrooge homebank calibre gnome-latex pdftricks pdfarranger pdfmixtool pdfmod pdfslicer gscan2pdf okular bookworm simple-scan gnome-documents xreader evince gimagereader-qt gimagereader-gtk kbibtex  tellico gnome-books minder notes-up ocrfeeder rednotebook retext scribus texworks atril xournalapp zathura"



# Finish him
echo '</div></body></html>'
