#!/bin/bash
#
# BigLinux Store 
# www.biglinux.com.br
# By Bruno Gonçalves
# 11/01/2020
# License: GPL v2 or greater

HOME_FOLDER="$HOME/.bigstore"
TMP_FOLDER="/tmp/bigstore"

REPOSITORY="$(echo "$pkg_id" | cut -f1 -d"/")"
PACKAGE_ID="$(echo "$pkg_id" | cut -f2-90 -d"/")"

if [ "$pkg_install" = "y" ]; then
    ACTION="install_flatpak" REPOSITORY="$REPOSITORY" PACKAGE_ID="$PACKAGE_ID" WINDOW_ID="$(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2)" urxvt +sb -internalBorder 10 -borderColor rgb:cc/cc/cc -depth 32 -fg rgb:33/33/33 -bg rgb:cc/cc/cc -fn "xft:Ubuntu Mono:pixelsize=18" -embed $(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2) -sr -bc -e ./install_terminal.sh
fi

if [ "$pkg_remove" = "y" ]; then
    ACTION="remove_flatpak" REPOSITORY="$REPOSITORY" PACKAGE_ID="$PACKAGE_ID" WINDOW_ID="$(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2)" urxvt +sb internalBorder 10 -borderColor rgb:cc/cc/cc -depth 32 -fg rgb:33/33/33 -bg rgb:cc/cc/cc -fn "xft:Ubuntu Mono:pixelsize=18" -embed $(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2) -sr -bc -e ./install_terminal.sh
fi

# Loading
echo '<div id=box_progress_flatpak_install>'
echo '<div id=box_progress_flatpak_bar>'
echo $"Instalando"
echo "<div id=box_progress_flatpak_cancel><button class=\"btn btnSpace waves-effect waves-light grey darken-2\" type=\"submit\" name=\"action\" onclick=\"disableButtonFlatpakInstall();_run('killall flatpak')\">"
echo $"Cancelar"
echo '</button></div>'
echo '</div></div>'


# Loading
echo '<div id=box_progress_flatpak_remove>'
echo '<div id=box_progress_flatpak_bar>'
echo $"Removendo"
# echo "<div id=box_progress_flatpak_cancel><button class=\"btn btnSpace waves-effect waves-light grey darken-2\" type=\"submit\" name=\"action\" onclick=\"_run('killall flatpak')\">"
# echo $"Cancelar"
# echo '</button></div>'
echo '</div></div>'

source header.sh.htm

# Run script with complementary content
./view_flatpak_pamac.py "$pkg_name"
#kdialog --msgbox "$pkg_name"
echo "<script>runAvatarFlatpak();</script>"
        
echo '<div id="modal1" class="modal modal-fixed-footer"><div class="modal-content">'
echo '<div id="files_in_package">
<div id="preloader-align">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>'
echo '</div><div class="modal-footer"><a href="#!" class="modal-close waves-effect waves-green btn-flat">' $"Fechar" '</a></div></div>'
  
echo "<script>\$(document).ready(function(){
    \$('.modal').modal();
  });</script>"
