#!/bin/bash
#
# BigLinux Store 
# www.biglinux.com.br
# By Bruno Gonçalves
# 11/01/2020
# License: GPL v2 or greater

HOME_FOLDER="$HOME/.bigstore"
TMP_FOLDER="/tmp/bigstore"

if [ "$pkg_install" = "y" ]; then
    ./run_pamac_installer $pkg_name
    echo "" > ${TMP_FOLDER}/upgradeable.txt
    pacman -Qu | cut -f1 -d" " >> ${TMP_FOLDER}/upgradeable.txt
fi

if [ "$pkg_remove" = "y" ]; then
    pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY $(pwd)/run-pamac-remove $pkg_name
    echo "" > ${TMP_FOLDER}/upgradeable.txt
    pacman -Qu | cut -f1 -d" " >> ${TMP_FOLDER}/upgradeable.txt
fi


source header.sh.htm

cat << EOF
    <link rel="stylesheet" type="text/css" href="css/appstream_install.css">
EOF

# Run script with complementary content
./view_appstream_pamac.py "$pkg_name"

echo "<script>runAvatarAppstream();</script>"
        
echo '<div id="modal1" class="modal modal-fixed-footer"><div class="modal-content">'
echo '<div id="files_in_package">
<div id="preloader-align">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>'
echo '</div><div class="modal-footer"><a href="#!" class="modal-close waves-effect waves-green btn-flat">' $"Fechar" '</a></div></div>'
  
echo "<script>\$(document).ready(function(){
    \$('.modal').modal();
  });</script>"
