#!/bin/bash
#
# BigLinux Store 
# www.biglinux.com.br
# By Bruno Gonçalves
# 11/01/2020
# License: GPL v2 or greater

HOME_FOLDER="$HOME/.bigstore"
TMP_FOLDER="/tmp/bigstore"
SNAP_INFO_FILE="$TMP_FOLDER/snap_info.txt"
TXT_EXEC=$"Executar"
TXT_REMOVE=$"Remover"
TXT_INSTALL=$"Instalar"

jq -r "._embedded.\"clickindex:package\"[] | select(.snap_id == \"$pkg_id\" )" $(grep -rl $pkg_id "$HOME_FOLDER/snap_list_files/") | jq -s .[0] > "$SNAP_INFO_FILE"

SNAP_INFO() {
    jq -r .${1} "$SNAP_INFO_FILE"
}

SNAP_ICON() {
    jq -r '.media[] | select(.type == "icon" ) | .url' "$SNAP_INFO_FILE"
}

SNAP_SCREENSHOT() {
    jq -r '.media[] | select(.type == "screenshot" ) | .url' "$SNAP_INFO_FILE" | grep -v banner
}


if [ "$pkg_install" = "y" ]; then
    ACTION="install_snap" REPOSITORY="$REPOSITORY" PACKAGE_NAME="$(SNAP_INFO package_name)" WINDOW_ID="$(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2)" urxvt +sb -internalBorder 10 -borderColor rgb:cc/cc/cc -depth 32 -fg rgb:33/33/33 -bg rgb:cc/cc/cc -fn "xft:Ubuntu Mono:pixelsize=18" -embed $(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2) -sr -bc -e ./install_terminal.sh
fi

if [ "$pkg_remove" = "y" ]; then
    ACTION="remove_snap" REPOSITORY="$REPOSITORY" PACKAGE_NAME="$(SNAP_INFO package_name)" WINDOW_ID="$(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2)" urxvt +sb -internalBorder 10 -borderColor rgb:cc/cc/cc -depth 32 -fg rgb:33/33/33 -bg rgb:cc/cc/cc -fn "xft:Ubuntu Mono:pixelsize=18" -embed $(xprop -root '\t$0' _NET_ACTIVE_WINDOW | cut -f 2) -sr -bc -e ./install_terminal.sh
fi


# Loading
echo '<div id=box_progress_snap_install>'
echo '<div id=box_progress_snap_bar>'
echo $"Instalando"
echo "<div id=box_progress_snap_cancel><button class=\"btn btnSpace waves-effect waves-light grey darken-2\" type=\"submit\" name=\"action\" onclick=\"_run('snap abort --last=install')\">"
echo $"Cancelar"
echo '</button></div>'
echo '</div></div>'


# Loading
echo '<div id=box_progress_snap_remove>'
echo '<div id=box_progress_snap_bar>'
echo $"Removendo"
echo "<div id=box_progress_snap_cancel><button class=\"btn btnSpace waves-effect waves-light grey darken-2\" type=\"submit\" name=\"action\" onclick=\"_run('snap abort --last=remove')\">"
echo $"Cancelar"
echo '</button></div>'
echo '</div></div>'


source header.sh.htm

cat << EOF
    <link rel="stylesheet" type="text/css" href="css/appstream_install.css">
EOF

SNAP_INSTALLED_LIST="|$(snap list | cut -f1 -d" " | tail -n +2 | tr '\n' '|')"




echo '<div id=box_snap_install><div id=title_snap_install>'
echo '<div id=button_snap class="tooltipped" data-position="left" data-tooltip="' $"Informações sobre programas SNAP" '">'
echo $"Programas SNAP"
echo '</div></div><div id=content_snap_install>'
echo '<div id=titleBar>'
echo '<div id=title>'

TITLE="$(SNAP_INFO title)"

if [ "$(SNAP_ICON)" != "" ]; then
    echo '<div class=icon_middle><img class="icon_view" src="'
    SNAP_ICON
    echo '"></div>'
else
    echo "<div class=icon_middle><div class=avatar_snap>${TITLE:0:3}</div></div>"
fi

echo '<div id=titleName>'
echo "$TITLE"
echo '</div></div></div>'
echo '<div id=description>'
SNAP_INFO summary
echo '</div></div>'
echo '<div class="row center">'

if [ "$(echo "$SNAP_INSTALLED_LIST" | grep -i -m1 "|$(SNAP_INFO package_name)|")" != "" ]; then
cat << EOF
<button class="btn btnSpace waves-effect waves-light red accent-4" type="submit" name="action" onclick="disableBodySnapRemove();location.href='view_snap.sh.htm?pkg_id=$pkg_id&pkg_remove=y'">$TXT_REMOVE</button>
EOF
#<button class="btn btnSpace waves-effect waves-light blue darken-3" type="submit" name="action" onclick="_run('snap run $(SNAP_INFO package_name)')">$TXT_EXEC</button>

else

cat << EOF
<button class="btn btnSpace waves-effect waves-light green accent-4" type="submit" name="action" onclick="disableBodySnapInstall();location.href='view_snap.sh.htm?pkg_id=$pkg_id&pkg_install=y'">$TXT_INSTALL</button>
EOF
fi


#    pkg_installed = subprocess.run(["pacman", "-Qs", sys.argv[1]], stdout=subprocess.PIPE, text=True)
#    pkg_installed_version = subprocess.run(["./pkg_pacman_version"], stdout=subprocess.PIPE, text=True)
#    if pkg_installed.stdout:
#     <button class="btn btnSpace waves-effect waves-light red accent-4" type="submit" name="action" onclick="disableBody();location.href=' + "'view_snap.sh.htm?pkg_id=" + sys.argv[1] + "&pkg_remove=y'" + '">', 'Remover', '</button>
#         if pkg_installed_version.stdout.strip() != p['Version'].strip():
#         <button class="btn btnSpace waves-effect waves-light yellow darken-4" type="submit" name="action" onclick="disableBody();location.href=' + "'view_snap.sh.htm?pkg_id=" + sys.argv[1] + "&pkg_install=y'" + '">', 'Atualizar', '</button>
#         else:
#             if 'Version' in p:
#             <button class="btn btnSpace waves-effect waves-light green darken-3" type="submit" name="action" onclick="disableBody();location.href=' + "'view_snap.sh.htm?pkg_id=" + sys.argv[1] + "&pkg_install=y'" + '">', 'Reinstalar', '</button>
#     else:
#     <button class="btn btnSpace waves-effect waves-light green accent-4" type="submit" name="action" onclick="disableBody();location.href=' + "'view_snap.sh.htm?pkg_id=" + sys.argv[1] + "&pkg_install=y'" + '">', 'Instalar', '</button>


OIFS=$IFS
IFS=$'\n'

echo '<div id=descriptionbox>'
#Confere se a igualdade é verdadeira
if [ "$($(SNAP_SCREENSHOT))" != "" ]; then
    echo '<div id=screenshotPkg><div class="slider"><ul class="slides">'
    for i  in  $(SNAP_SCREENSHOT); do
        echo "<li><img class=screenshot src=\"$i\"></li>"
    done
    echo "<script>jQuery(document).ready(function(){jQuery(\".slider\").slider({width: $(cat /tmp/bigstore/screenshot-resolution.txt) });});</script>"
    echo '</ul></div>'
    IFS=$OIFS
fi


echo '<div id=pkgDescriptionBox><div id=pkgDescription>'
SNAP_INFO description
echo '</div></div></div></div>'





echo '<div class="grid-container">'
echo '<div class=gridLeft>' $"Pacote:" '</div>'
echo '<div class=gridRight>'
SNAP_INFO package_name
echo '</div></div>'
    
#     if pkg_installed_version.stdout:
#     <div class="grid-container">
#     <div class=gridLeft>', 'Versão instalada:', '</div>
#     <div class=gridRight>', pkg_installed_version.stdout.strip(), '</div></div>
#     if pkg_installed_version.stdout != p['Version']:

echo '<div class="grid-container">'
echo '<div class=gridLeft>' $"Versão disponivel:" '</div>'
echo '<div class=gridRight>'
SNAP_INFO version
echo '</div></div>'




echo '<div class="grid-container">'
echo '<div class=gridLeft>' $"Licença:" '</div>'
echo '<div class="gridRight">'
SNAP_INFO license
echo '</div></div>'


echo '<div class="grid-container">'
echo '<div class=gridLeft>' $"Repositório:" '</div>'
echo '<div class="gridRight">' $"AUR"  '</div></div>'

echo '<div class="grid-container">'
echo '<div class=gridLeft>' $"Empacotador:" '</div>'
echo '<div class="gridRight">'
SNAP_INFO developer_name
echo '</div></div>'


#     if pkg_installed.stdout:
#     <div class="grid-container">
#     <div class=gridLeft>', 'Arquivos do pacote:', '</div>
#     <div class="gridRight">
#     <a class="modal-trigger" href="#modal1" id="listPgkFiles">', 'Clique aqui para ver os arquivos', '</a><script>
#         print ("$('#listPgkFiles.click(function(e){$.get('./load.sh','pkg_installed " + sys.argv[1] + "',function(data){$('#files_in_package.html(data);})})")
#     </script>
#     </div></div>





#kdialog --msgbox "$pkg_id"
echo "<script>runAvatarSnap();</script>"
        
echo '<div id="modal1" class="modal modal-fixed-footer"><div class="modal-content">'
echo '<div id="files_in_package">
<div id="preloader-align">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>'
echo '</div><div class="modal-footer"><a href="#!" class="modal-close waves-effect waves-green btn-flat">' $"Fechar" '</a></div></div>'
  
echo "<script>\$(document).ready(function(){
    \$('.modal').modal();
  });</script>"
